{%- assign FOOTER = site.data[LANG].footer | default: site.data.footer %}
{%- if FOOTER %}
<footer>
  <ul>
    {%- for item in FOOTER -%}
    <li>
      {%- if item.copyright %}
        &copy; {{ site.time | date: "%Y" }}&nbsp;
      {%- endif %}
      {%- if item.icon -%}
        <span class="material-symbols-outlined">{{ item.icon }}</span>
      {%- endif -%}
      {%- if item.href %}
        <a href="{{ item.href }}">{{ item.text }}</a>
      {%- else %}
        {{ item.text }}
      {%- endif %}
    </li>
    {%- endfor %}
  </ul>
</footer>
{%- endif %}
