{%- assign info = include.data %}
<article class='rounded'>
  {%- assign len =  info.boxes | size %}
  {%- if len > 1 %}
    {%- assign splitContent = 'split-content' %}
    {%- assign smaller = 'smaller' %}
  {%- else %}
    {%- assign splitContent = '' %}
    {%- assign smaller = '' %}
  {%- endif %}
  <div class='max-width {{ splitContent }}'>
  {%- for box in info.boxes %}
    <div class='box'
      style='
        color: {{ box.color | default: 'black' }};
        background-image: {{ box.background-image | default: 'transparent' }};
      '>
      {%- if box.image %}
        <div class='image-overlay'>
          {%- if box.image.color %}
          <div class='overlay'
            onclick='playGif(this)'
            style='background-image: linear-gradient(0deg, {{ box.image.color }}, transparent)'></div>
          {%- endif %}
          <img onclick='playGif(this)'
            src='{{ box.image.src }}'
            data-gif='{{ box.image.gif }}'
            title='{{ box.image.text }}'
            width='{{ box.image.width | default: "100%" }}' />
        </div>
      {%- endif %}
      <div class='text-content'>
        <h1 class='{{ box.class }}'>{{ box.title }}</h1>
        <p>{{ box.text }}</p>
        {%- if box.button %}
          <a class='a-button link' href='{{ box.button.href }}'>
            {{ box.button.label }}
          </a>
        {%- endif %}
      </div>
    </div>
  {%- endfor %}
  </div>
</article>
