<!doctype html>
{%- include localize.html %}
<html lang="{{ LANG }}">
  {% include header.html %}
  <body>
    {% include head/top-nav.html %}
    {% if page.url == '/' or page.lang %}
      {% include main.html %}
    {% elsif page.url == '/404.html' %}
      <h2 class="center-align">{{ TEXT.page-not-found }}</h2>
    {% elsif page.url == '/offline.html' %}
      <h2 class="center-align">{{ TEXT.offline }}</h2>
    {% else %}
      {{ content }}
    {% endif %}
    {% include footer.html %}
    {% include foot/js.html %}
    {% include foot/pwaupdate.html %}
  </body>
</html>

